altgraph==0.17
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
future==0.18.2
google-api-core==1.17.0
google-api-python-client==1.8.4
google-auth==1.16.0
google-auth-httplib2==0.0.3
googleapis-common-protos==1.51.0
httplib2==0.18.1
idna==2.9
mutagen==1.44.0
pefile==2019.4.18
protobuf==3.15.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodomex==3.11.0
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pytz==2020.1
pywin32-ctypes==0.2.0
requests==2.23.0
rsa==4.0
six==1.15.0
unicode==2.7
uritemplate==3.0.1
urllib3==1.26.5
websockets==10.0
youtube-dl==2021.12.17
youtube-dlc==2020.11.11.post3
yt-dlp==2021.11.10
